#place {
  display: block;
  margin-bottom: 2%;
  /* height: 100vh; */
}

body {
  /* background: #f8f4f2;
    font-family: Arial;
    margin:5px; */
}

/* .place {
  background-color: #D9D9D9;
  padding: 17px;
  border: 1px solid white;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 60px;
} */

.a-box {
  display: inline-block;
  /* width: 240px; */
  text-align: center;
  margin: 10px;
  /* width: 22%; */
}

.img-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
}

.img-container img {
  height: 150px;

}
.postulates-year{
  text-align: center;
}
.postulates-year-row{
  margin-top: 2%;
}
.btn-postulates {
  /* margin: 0px 180px 0px 0px; */
  /* margin: 1% 5%; */
  border: none;
  background-color: #b7b6b6;
  padding: 0px 30px;
  border-radius: 30px;
  /* float: left; */
}
.postulates-card{
  text-align: center;
}
.but {
  border: none;
  background-color: #b7b6b6;
  padding: 6px 28px;
  border-radius: 30px;
}
.card-read-more{
  text-align: center;
}
.text-container {
  padding: 85px 20px 20px 20px;
  border-radius: 20px;
  background-color: #D9D9D9;
  margin: -90px 0px 0px 0px;
  line-height: 20px;
  font-size: 12px;
  text-align: left;
}

.text-container h3 {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.text-container h4 {
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width:820px){
  .a-box{
    /* width: 180px; */
  }
  .img-container{
    /* height: 100px;
    width: 100px; */
  }
}