@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
#about{
    height: 100vh;
    background-image: url('./mainbg.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#soce-name{
    margin-top: 20%;
    letter-spacing: 5px;
}
#soce-name h3{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3rem;
}
#about-col{
    text-align: center;
    /* height: 80vh; */
}
#about button{
    margin-top: 3%;
    /* width: 20vw; */
    font-size: 1.5rem;
    padding: 1% 5%;
    background-color: #48494D;
    color: #fff;
    border-radius: 20px;
}
#about button:hover{
    background-color: #000;
}