#Events{
    display: block;
    /* height: 100vh; */
}
.eve{
    background-color: #D9D9D9;
    padding: 17px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 60px;
}
.fre{
    background-color: #D9D9D9;
    padding: 17px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 60px;
    float: left;
    width:50%;
}
.far{
    background-color: #D9D9D9;
    padding: 17px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 60px;
    float: right;
    width:50%;
}
.event-btn{
    margin-left: 30%;
    border: none;
    background-color: #b7b6b6;
    padding: 6px 28px;
    border-radius: 30px;
    float:right;
}

@media screen and (max-width: 768px) {
    .coll{
        margin-left: -70%;
        margin-top: 35px;
    }
    
}
#Event-col{
    text-align: center;
    /* height: 80vh; */
}
.container:after {
    content: "";
    display: table;
    clear: both;
}