#menubar{
    /* background-color: #fff !important; */
    background-color: #efeaea !important;
    /* padding: 1%; */
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    padding: 50px;
  }
  
  .nav-link,.dropdown-item{
    text-align: center !important;
  }

  /* .sticky-nav {
    position: sticky;
    top: 0;
  } */

  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand>img {
    padding: 7px 14px;
  }
  #soce-logo{
    height: 60px;
    width: 225px;
  }