#menubar{
    /* background-color: #fff !important; */
    background-color: #D9D9D9 !important;
    padding: 1%;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .nav-link,.dropdown-item{
    text-align: center !important;
  }

  /* .sticky-nav {
    position: sticky;
    top: 0;
  } */
  