#home{
    display: block;
    /* height: 100vh; */
}
.slider-content img{
    height: 100%;
    width: 100%;
}
#img{
    border-radius: 5%;
    height: 400px;
}
.slider-parent{
    margin-top:2%;
    text-align: center;
    margin-bottom: 5%;
}
/* .slider-content-col,.slider-content .row{
    height: 50vh;
} */
#r1{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#r2{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: right;
}
.slider-content{
    text-align: justify;
    background-color: #D9D9D9;
    border-radius: 20px;
    transition: opacity 1s;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    border-bottom: 3px solid #505050;
}
#slider-heading{
    padding-top: 10px;
    font-size: 2.2rem;
}
.slider-content .row{
    padding: 1% 5%;
}
.sl{
    padding: 5% 1%;
}
#p,#f{
    margin-top: 1%;
    font-size: 1.5rem;
}
#p{margin-right: 5%;}
#f{margin-left: 5%;}
#p,#f:hover{
    cursor: pointer;
}

.indicators{
    margin: 1%;
}
.indicators:hover{
    cursor: pointer;
}
.read-more{
    text-align: center;
}
#read-more{
    margin-top:5%;
    margin-bottom: 2%;
}
#slider-date{
    text-align: right;
}
#recent{
    width: fit-content;
    text-align: left;
    /* margin-left: 7%; */
    margin-top: 5%;
    margin-bottom: 3%;
}

/* Message CSS */
.mes{
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 60px;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    border-bottom: 3px solid #505050;
    transition: 0.3s ease;
    border-radius: 20px;
    font-family: Poppins,sans-serif;
}
.mes p{
    margin: 0;
}
.getm h5{
    margin:0;
}

.getm{
    text-align: center;
    align-items: center;
    background-color: #edebeb;
    padding: 10px 39px;
    width: 88%;
    margin-left: 4rem;
    border-radius: 25px;
}

.getm h5{
    font-size: 1.15rem;
}

.mybtn{
    border: none;
    background-color: #b7b6b6;
    padding: 6px 28px;
    border-radius: 30px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

a:hover{
    color: #ffffff;
}
.white{
    background-color: #fff;
    height: 400px;
    border-radius: 25px;
}
.readmore{
    text-align: right;
}
.circles{
    text-align: center;
}
@media screen and (max-width: 768px) {
    .getm{
        padding: 10px 12px;
        width: 100%;
        margin-left: 0.2rem;
        border-radius: 20px;
    }
    
  }