#StudentSec{
    display: block;
    /* height: 100vh; */
}
.stud-flex{
    display: flex;
    justify-content: space-between;
}
.stu{
    background-color: #D9D9D9;
    padding: 17px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 60px;
  
}
.stud{
    background-color: #D9D9D9;
    padding: 17px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 60px;
    /* float: left; */
    width:45%;
}
.sec{
    background-color: #D9D9D9;
    padding: 17px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 60px;
    float: right;
    width:50%;
}
.Btn{
    margin-left: 30%;
    border: none;
    background-color: #b7b6b6;
    padding: 6px 28px;
    border-radius: 30px;
    float:right;
}
@media screen and (max-width: 768px) {
    .Btn{
        margin-left: -70%;
        margin-top: 35px;
    }
    
}
#student-col{
    text-align: center;
    /* height: 80vh; */
}
.Container:after {
    content: "";
    display: table;
    clear: both;
}